src/main/resources/schema/ws-pvplanner.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://geomodel.eu/schema/ws/pvplanner" elementFormDefault="qualified" 
	xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:t="http://geomodel.eu/schema/common/types"
	xmlns:geo="http://geomodel.eu/schema/common/geo"
	xmlns:pv="http://geomodel.eu/schema/common/pv"
	xmlns:ws="http://geomodel.eu/schema/ws/pvplanner">

	<import schemaLocation="common-types.xsd" namespace="http://geomodel.eu/schema/common/types"/>
	<import schemaLocation="common-geo.xsd" namespace="http://geomodel.eu/schema/common/geo"/>
	<import schemaLocation="common-pv.xsd" namespace="http://geomodel.eu/schema/common/pv"/>
	
	<element name="calculateRequest">
		<annotation>
			<documentation>Root element for PvPlanner calculate request</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="site" type="pv:Site">
					<annotation>
						<documentation>Optionally, terrain or horizon data can be specified, otherwise default values are fetched for given latlng</documentation>
					</annotation>
				</element>
			</sequence>
			<attribute name="optimize" type="boolean" default="false">
				<annotation>
					<documentation>optional, if 'true' mounting angles are not taken into account during calculation, but the optimized angles which are also returned in result</documentation>
				</annotation>
			</attribute>
		</complexType>
	</element>

	<element name="calculateResponse">
		<annotation>
			<documentation>Root element for PvPlanner calculate response</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element name="site" type="pv:Site"/>
				<element name="irradiation" type="ws:SolarRadiation"/>
				<element name="calculation" type="ws:PvCalculation"/>
				<element name="summary" type="string" nillable="true">
					<annotation>
						<documentation>PV system summary text, example: PV system: 1.0 kWp, crystalline silicon, fixed free, azim. 180° (south), inclination 30°</documentation>
					</annotation>
				</element>
			</sequence>
		</complexType>
	</element>

	<complexType name="ClimateReference">
		<annotation>
			<documentation>Global horizontal irradiation and air temperature - climate reference</documentation>
		</annotation>
		<sequence>
			<element name="Ghm" type="t:MonthlyValues">
				<annotation>
					<documentation>Monthly sum of global irradiation [kWh/m2]</documentation>
				</annotation>
			</element>
			<element name="Ghd" type="t:MonthlyValues">
				<annotation>
					<documentation>Daily sum of global irradiation [kWh/m2]</documentation>
				</annotation>
			</element>
			<element name="Dhd" type="t:MonthlyValues">
				<annotation>
					<documentation>Daily sum of diffuse irradiation [kWh/m2]</documentation>
				</annotation>
			</element>
			<element name="Td" type="t:MonthlyValues">
				<annotation>
					<documentation>Daily (diurnal) air temperature [°C]</documentation>
				</annotation>
			</element>
			<element name="Tmin" type="t:MonthlyValues">
				<annotation>
					<documentation>Minimum air temperature [°C]</documentation>
				</annotation>
			</element>
			<element name="Tmax" type="t:MonthlyValues">
				<annotation>
					<documentation>Maximum air temperature [°C]</documentation>
				</annotation>
			</element>
			<element name="invar" type="t:MonthlyValues">
				<annotation>
					<documentation>Interannual variability of annual global horizontal irradiation [%]</documentation>
				</annotation>
			</element>
			<element name="Rh" type="t:MonthlyValues">
				<annotation>
					<documentation>Relative Humidity [%]</documentation>
				</annotation>
			</element>
			<element name="Pwat" type="t:MonthlyValues">
				<annotation>
					<documentation>Precipitable Water [kg/m2]</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="InplaneIrradiation">
		<annotation>
			<documentation>Global in-plane irradiation</documentation>
		</annotation>
		<sequence>
			<element name="Gim" type="t:MonthlyValues">
				<annotation>
					<documentation>Monthly sum of global irradiation [kWh/m2]</documentation>
				</annotation>
			</element>
			<element name="Gid" type="t:MonthlyValues">
				<annotation>
					<documentation>Daily sum of global irradiation [kWh/m2]</documentation>
				</annotation>
			</element>
			<element name="Did" type="t:MonthlyValues">
				<annotation>
					<documentation>Daily sum of diffuse irradiation [kWh/m2]</documentation>
				</annotation>
			</element>
			<element name="Rid" type="t:MonthlyValues">
				<annotation>
					<documentation>Daily sum of reflected irradiation [kWh/m2]</documentation>
				</annotation>
			</element>
			<element name="ShLoss" type="t:MonthlyValues">
				<annotation>
					<documentation>Losses of global irradiation by terrain shading [%]</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="PvOutput">
		<annotation>
			<documentation>PV electricity production in the start-up</documentation>
		</annotation>
		<sequence>
			<element name="Esm" type="t:MonthlyValues">
				<annotation>
					<documentation>Monthly sum of specific electricity production [kWh/kWp]</documentation>
				</annotation>
			</element>
			<element name="Esd" type="t:MonthlyValues">
				<annotation>
					<documentation>Daily sum of specific electricity production [kWh/kWp]</documentation>
				</annotation>
			</element>
			<element name="Etm" type="t:MonthlyValues">
				<annotation>
					<documentation>Monthly sum of total electricity production [kWh]</documentation>
				</annotation>
			</element>
			<element name="Eshare" type="t:MonthlyValues">
				<annotation>
					<documentation>Percentual share of monthly electricity production [%]</documentation>
				</annotation>
			</element>
			<element name="PR" type="t:MonthlyValues">
				<annotation>
					<documentation>Performance ratio [%]</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="EnergyConversion">
		<annotation>
			<documentation>
				System losses and performance ratio

				Energy conversion steps and losses: 
				1. Initial production at Standard Test Conditions (STC) is assumed,
				2. Reduction of global in-plane irradiation due to obstruction of terrain horizon and PV modules, 
				3. Proportion of global irradiation that is reflected by surface of PV modules (typically glass), 
				4. Losses in PV modules due to conversion of solar radiation to DC electricity; deviation of module efficiency from STC, 
				5. DC losses: this step assumes integrated effect of mismatch between PV modules, heat losses in interconnections and cables, losses due to dirt, snow, icing and soiling, and self-shading of PV modules, 
				6. This step considers euro efficiency to approximate average losses in the inverter, 
				7. Losses in AC section and transformer (where applicable) depend on the system architecture, 
				8. Availability parameter assumes losses due to downtime caused by maintenance or failures.

				Losses at steps 2 to 4 are numerically modeled by pvPlanner. Losses at steps 5 to 8 are to be assessed by a user.
			</documentation>
		</annotation>
		<sequence>
			<element name="global" type="ws:PerformanceLossesValues">
				<annotation>
					<documentation>Global in-plane irradiation (input)</documentation>
				</annotation>
			</element>
			<element name="terrain" type="ws:PerformanceLossesValues">
				<annotation>
					<documentation>Global irradiation reduced by terrain shading</documentation>
				</annotation>
			</element>
			<element name="angular" type="ws:PerformanceLossesValues">
				<annotation>
					<documentation>Global irradiation reduced by reflectivity</documentation>
				</annotation>
			</element>
			<element name="conversion" type="ws:PerformanceLossesValues">
				<annotation>
					<documentation>Conversion to DC in the modules</documentation>
				</annotation>
			</element>
			<element name="dcLoss" type="ws:PerformanceLossesValues">
				<annotation>
					<documentation>Other DC losses</documentation>
				</annotation>
			</element>
			<element name="inverter" type="ws:PerformanceLossesValues">
				<annotation>
					<documentation>Inverters (DC/AC conversion)</documentation>
				</annotation>
			</element>
			<element name="acLoss" type="ws:PerformanceLossesValues">
				<annotation>
					<documentation>Transformer and AC cabling losses</documentation>
				</annotation>
			</element>
			<element name="availability" type="ws:PerformanceLossesValues">
				<annotation>
					<documentation>Reduced availability</documentation>
				</annotation>
			</element>
			<element name="total" type="ws:PerformanceLossesValues">
				<annotation>
					<documentation>Total system performance</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="PerformanceLossesValues">
		<attribute name="output" type="int" use="required">
			<annotation>
				<documentation>Energy output [kWh/kWp]</documentation>
			</annotation>
		</attribute>
		<attribute name="lossAbs" type="int" use="optional">
			<annotation>
				<documentation>Energy loss [kWh/kWp], optional</documentation>
			</annotation>
		</attribute>
		<attribute name="lossRel" type="t:percent" use="optional">
			<annotation>
				<documentation>Energy loss [%], optional</documentation>
			</annotation>
		</attribute>
		<attribute name="PRp" type="t:percent" use="optional">
			<annotation>
				<documentation>Performance ratio [partial %]</documentation>
			</annotation>
		</attribute>
		<attribute name="PRc" type="t:percent" use="required">
			<annotation>
				<documentation>Performance ratio [cumul. %]</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="StrategyComparison">
		<annotation>
			<documentation>Average yearly sum of global irradiation for different types of surface</documentation>
		</annotation>
		<sequence>
			<element name="horizontal" type="ws:IrradiationComparisonValues">
				<annotation>
					<documentation>Horizontal surface</documentation>
				</annotation>
			</element>
			<element name="optimum" type="ws:IrradiationComparisonValues">
				<annotation>
					<documentation>Optimally inclined surface</documentation>
				</annotation>
			</element>
			<element name="tracker2x" type="ws:IrradiationComparisonValues">
				<annotation>
					<documentation>Surface with 2-axis tracking</documentation>
				</annotation>
			</element>
			<element name="selected" type="ws:IrradiationComparisonValues">
				<annotation>
					<documentation>Selected system surface mounting</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="IrradiationComparisonValues">
		<attribute name="yearlySum" type="double" use="required">
			<annotation>
				<documentation>Average yearly sum of global irradiation [kWh/m2]</documentation>
			</annotation>
		</attribute>
		<attribute name="percentOpt" type="double" use="required">
			<annotation>
				<documentation>Relative comparison to optimally inclined [%]</documentation>
			</annotation>
		</attribute>
	</complexType>

	<complexType name="OptimumAngles">
		<annotation>
			<documentation>Optimum inclination angles for different mounting types</documentation>
		</annotation>
		<attribute name="fixed" type="geo:inclination"></attribute>
		<attribute name="winter" type="geo:inclination"></attribute>
		<attribute name="summer" type="geo:inclination"></attribute>
		<attribute name="tracker" type="geo:inclination"></attribute>
	</complexType>

	<complexType name="SolarRadiation">
		<annotation>
			<documentation>Solar radiation reference and inplane values, strategy comparison and optimum angles includes</documentation>
		</annotation>
		<sequence>
			<element name="reference" type="ws:ClimateReference"></element>
			<element name="inplane" type="ws:InplaneIrradiation"></element>
			<element name="comparison" type="ws:StrategyComparison"></element>
			<element name="optimum" type="ws:OptimumAngles"></element>
		</sequence>
	</complexType>

	<complexType name="PvCalculation">
		<annotation>
			<documentation>Photovoltaic calculation results</documentation>
		</annotation>
		<sequence>
			<element name="output" type="ws:PvOutput"></element>
			<element name="losses" type="ws:EnergyConversion"></element>
		</sequence>
	</complexType>
</schema>
